let g:mapleader = "\<SPACE>"
nnoremap <Space> <Nop>
nnoremap <Leader>w :w<CR>

set hlsearch
set showmode
set history 100
set incsearch
set showcmd
set scrolloff=7

"" Reformat code
:map <leader>r  <Action>(ReformatCode)
:map <leader>E <Action>(QuickJavaDoc)
:map <leader>o <Action>(ShowErrorDescription)
:map <leader>h <Action>(QuickImplementations)
:map <leader>e <Action>(ShowHoverInfo)
:map <leader>O <Action>(ShowIntentionActions)

"" Map Run, Debug and Terminal
:map <leader>1 <Action>(Run)
:map <leader>2 <Action>(ActivateRunToolWindow)<CR>
:map <leader>3 <Action>(Debug)
:map <leader>4 <Action>(ActivateDebugToolWindow)<CR>
:map <leader>7 <Action>(Stop)
:map <leader>' <Action>(ActivateTerminalToolWindow)<CR>

"" Distraction Free Mode
:map <leader>z :action ToggleDistractionFreeMode<CR>

"" Shortcut for copying to/from System Clipboard
"" Copy (Yank)
vmap <Leader>y "+y
"" Cute
vmap <Leader>d "+d
"" Paste
nmap <Leader>P "+p

"" Have x (removes single character) not go into the default registry
nnoremap x "_x

"" Highlight copied text
Plug 'machakann/vim-highlightedyank'
"" Commentary plugin
Plug 'tpope/vim-commentary'

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

inoremap <C-s> <Esc>
