"" Map leader to Spacebar
let g:mapleader = "\<SPACE>"
nnoremap <Space> <Nop>
nnoremap <Leader>w :w<CR>

set hlsearch
set showmode
set history 100
set incsearch
set showcmd
set scrolloff=7

"" extensions
set surround

:map <leader>r  <Action>(ReformatCode)

:map <leader>e <Action>(ShowHoverInfo)
:map <leader>E <Action>(QuickJavaDoc)

:map <leader>o <Action>(ShowErrorDescription)
:map <leader>O <Action>(ShowIntentionActions)

:map <leader>h <Action>(QuickImplementations)
:map gh <Action>(GotoDeclaration)

"" Map Run, Debug and Terminal
:map <leader>1 <Action>(Run)
:map <leader>2 <Action>(ActivateRunToolWindow)
:map <leader>3 <Action>(Debug)
:map <leader>4 <Action>(ActivateDebugToolWindow)
:map <leader>7 <Action>(Stop)
:map <leader>' <Action>(ActivateTerminalToolWindow)

"" Easy window navigation
:map <Tab> <Action>(NextTab)
:map <S-Tab> <Action>(PreviousTab)

:map <leader>sw <Action>(SurroundWith)
let g:WhichKeyDesc_surround_with = "<leader>sw Surround with"

"" breakpoints (<leader>b)
:map <leader>bb <Action>(ToggleLineBreakpoint)
:map <leader>bw <Action>(ViewBreakpoints)
:map <leader>ba <Action>(Debugger.RemoveAllBreakpoints)
let g:WhichKeyDesc_toggle_line_breakpoint = "<leader>bb Toggle line breakpoint"
let g:WhichKeyDesc_view_breakpoints = "<leader>bw View breakpoints"
let g:WhichKeyDesc_remove_all_breakpoints = "<leader>ba Remove all breakpoints"

"" Edit ideavim config
nnoremap <leader>vv :e ~/.ideavimrc<CR>
nnoremap <leader>vr :source ~/.ideavimrc<CR>

"" Close tab
nnoremap <C-w> :tabclose<CR>

"" Distraction Free Mode
:map <leader>z :action ToggleDistractionFreeMode<CR>

"" Shortcut for copying to/from System Clipboard
"" Copy (Yank)
vmap <Leader>y "+y
"" Cute
vmap <Leader>d "+d
"" Paste
nmap <Leader>P "+p

"" Have x (removes single character) not go into the default registry
nnoremap x "_x

"" Highlight copied text
Plug 'machakann/vim-highlightedyank'
"" Commentary plugin
Plug 'tpope/vim-commentary'

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)