let g:mapleader = "\<SPACE>"
nnoremap <Space> <Nop>
nnoremap <Leader>w :w<CR>

set hlsearch
set showmode
set history 100
set incsearch
set showcmd
set scrolloff=5

"" Reformat code
:map <leader>r  <Action>(ReformatCode)
:map <leader>E <Action>(QuickJavaDoc)
:map <leader>o <Action>(ShowErrorDescription)
:map <leader>h <Action>(QuickImplementations)
:map <leader>e <Action>(ShowHoverInfo)
:map <leader>O <Action>(ShowIntentionActions)

:map <leader>1 <Action>(Run)
:map <leader>2 <Action>(Debug)
:map <leader>7 <Action>(Stop)

" Shortcut for copying to/from System Clipboard
"" Copy (Yank)
vmap <Leader>y "+y
"" Cute
vmap <Leader>d "+d
"" Paste
nmap <Leader>P "+p

" have x (removes single character) not go into the default registry
nnoremap x "_x

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

inoremap <C-s> <Esc>
